body{
background-image: url("komputery.jpg");
background-size: cover;
background-position: center;
background-attachment: fixed;
text-align: center;
color: white;
overflow-x: hidden;
justify-content: center;
margin: auto;
width: 70%;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#logo{
  width: 90%;
margin-bottom: 50px;
}
#menu{
font-size: 100px;
text-decoration: underline;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#linki, #linki tr, #linki td{
width: 100%;
table-layout: fixed;
border-collapse: collapse;
text-align: center;
background-color: rgb(22, 21, 21);
padding: 10px;
box-shadow: 7px 3px 3px rgb(0, 71, 171);
margin: auto;
margin-bottom: 100px;
}
.podlinki{color: #E50030;
font-size: 30px;
font-weight: bold;
border-radius: 5% 20% 5% 20%;
text-decoration: none;
text-align: center;
padding: 10px;
}
.podlinki:hover{
color: lime;
background-color: rgb(0, 0, 0);
border: 2px solid white;
}
#uslugi, #uslugi tr, #uslugi td{
border-collapse: collapse;
width: 100%;
table-layout: fixed;
margin: auto;
margin-bottom: 100px;
}
#head-uslugi{
  background-color: #5E0B15;
font-size: 50px; 
padding: 15px;
}
#uslugi-lewa{
  background-color: white;
color: black;
  font-size: 40px;
padding: 10px;
}
#uslugi-prawa{
  background-color: rgb(0, 71, 171);
font-size: 40px;
padding: 10px;
}
.uslg{
  font-size: 25px;
  padding: 15px;
}
.uslg2{
  font-size: 25px;
  padding: 15px;
  background-color: rgb(0, 71, 171);
}
.uslg3{
  font-size: 25px;
  padding: 15px;
  background-color: white;
  color: black;
}
h3{
  font-size: 40px;
color: aqua;
}
h2{
  font-size: 55px;
  font-weight: bold;
}

.fade-in {
  opacity: 0;
  animation: pojawienie 1s ease forwards;
}

@keyframes pojawienie {
  from {
    opacity: 0;
    transform: translateY(50px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
#logo{
  animation-delay: 0.3s;
}
#linki{
  animation-delay: 0.6s;
}
#menu{
  animation-delay: 1s;
}
#uslugi{
  animation-delay: 0.9s;
}