body{
background-image: url("komputery.jpg");
background-size: cover;
background-position: center;
background-attachment: fixed;
text-align: center;
color: white;
}

.pc{
width: 25%;
height: 20%;
}

table, tr, td{
text-align: center;
table-layout: fixed;
margin: auto;
width: 60%;
font-size: 20px;
border: 3px, solid, #0047AB;
border-collapse: collapse;
}

h1{
font-size: 65px;
font-family: Helvetica;
color: white;
text-align: center;
}

.logo{
width: 50%;
}

.first{
background-color: #0047AB;
}

#linki{
background-color: #0047AB;
text-align: center;
}

h2{
color: white;
text-align: center;
font-size: 41px;
}

h3{
color: LightBlue;
text-align: center;
font-size: 35px;
}

a{
font-size: 25px;
color: LightBlue;
text-decoration: none;
}

a:hover{
color: lime;
}

#strg{
font-size: 30px;
color: white;
background-color: #0047AB;
text-decoration: none;
border-radius: 40% 10% 40% 10%;
}

#strg:hover{
font-size: 31px;
color: lime;
}