body{
background-image: linear-gradient(to bottom, #36454F, black);
min-height: 100vh;
text-align: center;
}

#h{
color: white;
font-weight: bold;
}

#logo{
width: 100%;
}

#powrot{
background-color: red;
color: white;
border-radius: 5px;
padding: 10px;
}

#powrot:hover{
background-color: lime;
text-align: center;
color: DarkRed;
}

a{
background-color: black;
color: white;
font-weight: bold;
font-size: 20px;
text-decoration: none;
}

a:hover{
background-color: lime;
color: black;
font-weight: bold;
font-size: 21px;
}

video{
width: 50%;
}
